/*==================================
 CREPE STATION ORDER STATUS
 CLEAN RESPONSIVE CSS
==================================*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{

box-sizing:border-box;
margin:0;
padding:0;
font-family:'Poppins',Arial,sans-serif;

}



body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#16252D;

color:white;

padding:15px;

}



/*==================================
 MAIN BOX
==================================*/


.order-status-box{


width:95%;

max-width:500px;

min-height:90vh;


background:#1B2E37;


padding:20px;


border-radius:30px;


text-align:center;


box-shadow:

0 20px 50px rgba(0,0,0,.45);



border:

1px solid rgba(242,194,48,.25);



display:flex;

flex-direction:column;



}



/*==================================
 LOGO
==================================*/


.logo{

margin-bottom:10px;

}



.restaurant-logo{


width:120px;

max-width:40vw;


object-fit:contain;


}





/*==================================
 STATUS ICON
==================================*/


.icon{


width:70px;

height:70px;


margin:5px auto;


border-radius:50%;


background:#F2C230;


display:flex;


align-items:center;


justify-content:center;


font-size:30px;


color:#16252D;



box-shadow:

0 0 25px rgba(242,194,48,.4);



}






/*==================================
 TEXT
==================================*/


.order-status-box h1{


color:#F2C230;


font-size:25px;


margin:10px 0 5px;



}



.order-status-box p{


font-size:15px;


opacity:.9;


}






/*==================================
 ORDER NUMBER
==================================*/


.order-number{


margin-top:10px;


padding:12px;


background:#111A1F;


border-radius:16px;


}



.order-number strong{


color:#F2C230;


font-size:22px;



}






/*==================================
 ORDER DETAILS
==================================*/


.order-details{


margin-top:15px;


padding:15px;


background:#111A1F;


border-radius:20px;


}



.order-details h2{


color:#F2C230;


font-size:19px;


margin-bottom:10px;


}





#orderItems{


max-height:140px;


overflow-y:auto;


}



.order-item{


display:flex;


justify-content:space-between;


padding:8px 0;


border-bottom:

1px solid rgba(255,255,255,.1);


font-size:14px;


}



.extra{


color:#F2C230;


font-size:12px;


}



.total-box{


display:flex;


justify-content:space-between;


margin-top:12px;


padding-top:10px;


border-top:

1px solid rgba(255,255,255,.2);



}



.total-box strong{


color:#F2C230;


}
/*==================================
 TIMER
==================================*/


.customer-timer-box{


width:85%;


margin:15px auto;


padding:12px;



background:#111A1F;



border-radius:20px;



}



.customer-timer-box h3{


color:#F2C230;


font-size:14px;


margin-bottom:5px;


}




.customer-timer{


font-size:30px;


font-weight:700;


}







/*==================================
 DELIVERY TIME
==================================*/


.delivery-time{


color:#F2C230;


font-weight:600;


font-size:15px;


margin:5px;


}







/*==================================
 STATUS PROGRESS
==================================*/


.status-progress{


display:flex;


justify-content:center;


align-items:center;


margin:15px 0;



}



.step{


display:flex;


flex-direction:column;


align-items:center;


font-size:11px;


color:#777;


}



.circle{


width:30px;


height:30px;


border-radius:50%;



background:#33444c;



display:flex;


align-items:center;


justify-content:center;


margin-bottom:5px;


font-weight:bold;


}




.step.active .circle{


background:#F2C230;


color:#16252D;


}





.step.active span{


color:#F2C230;


}





.line{


width:25px;


height:3px;


background:#33444c;


}








/*==================================
 CANCEL BUTTON
==================================*/


.cancel-order-btn{


width:100%;


padding:14px;


margin-top:10px;


border:none;


border-radius:30px;


background:#ff3b30;


color:white;


font-size:16px;


font-weight:700;


cursor:pointer;


display:flex;


align-items:center;


justify-content:center;


gap:10px;



box-shadow:

0 10px 25px rgba(255,59,48,.35);


transition:.3s;


}



.cancel-order-btn:hover{


transform:scale(.98);


}



.cancel-order-btn:active{


transform:scale(.94);


}







/*==================================
 BACK WEBSITE BUTTON
==================================*/


.home-btn{


display:flex;


justify-content:center;


align-items:center;


gap:8px;



margin-top:10px;


padding:14px;



background:#F2C230;



color:#111;



border-radius:30px;



text-decoration:none;



font-weight:700;


}







/*==================================
 RESPONSIVE DESIGN
==================================*/


/* TABLET */

@media(max-width:900px){


.order-status-box{


width:95%;


min-height:92vh;


padding:18px;


}



.restaurant-logo{


width:110px;


}



.order-status-box h1{


font-size:23px;


}



.status-progress{


transform:scale(.9);


}



.line{


width:20px;


}



.customer-timer{


font-size:28px;


}


}




/* MOBILE */

@media(max-width:600px){


body{


padding:10px;


}



.order-status-box{


width:100%;


min-height:95vh;


padding:15px;


border-radius:25px;


}





.restaurant-logo{


width:95px;


}




.icon{


width:60px;


height:60px;


font-size:25px;


}




.order-status-box h1{


font-size:21px;


}



.order-status-box p{


font-size:13px;


}





.order-number{


padding:10px;


}




.order-number strong{


font-size:20px;


}





.order-details{


padding:12px;


}




.order-details h2{


font-size:17px;


}





#orderItems{


max-height:120px;


}





.order-item{


font-size:13px;


}





.customer-timer-box{


width:90%;


padding:10px;


}



.customer-timer{


font-size:25px;


}





.status-progress{


transform:scale(.78);


margin:10px 0;


}




.step{


font-size:10px;


}




.circle{


width:26px;


height:26px;


}




.line{


width:15px;


height:2px;


}





.cancel-order-btn{


font-size:15px;


padding:13px;


}



.home-btn{


font-size:15px;


padding:13px;


}



}




/* SMALL PHONES */

@media(max-width:380px){



.order-status-box{


padding:12px;


}





.status-progress{


transform:scale(.70);


}





.order-status-box h1{


font-size:19px;


}



.customer-timer{


font-size:22px;


}



.cancel-order-btn,
.home-btn{


padding:12px;


font-size:14px;


}



}
/*==================================
      CANCEL POPUP
==================================*/


.cancel-overlay{

position:fixed;

inset:0;

display:none;

align-items:center;

justify-content:center;

background:rgba(0,0,0,.55);

backdrop-filter:blur(8px);

z-index:10001;

}



.cancel-popup{


width:90%;

max-width:350px;

padding:25px;


background:#1B2E37;


border-radius:28px;


text-align:center;


border:1px solid rgba(242,194,48,.3);


box-shadow:

0 20px 50px rgba(0,0,0,.5);


}




.cancel-popup h2{


color:#F2C230;

margin-bottom:10px;


}



.cancel-popup p{


color:white;

font-size:15px;

margin-bottom:20px;


}




.cancel-buttons{


display:flex;

gap:12px;


}



.cancel-buttons button{


flex:1;

padding:13px;


border:none;

border-radius:25px;


font-size:15px;

font-weight:bold;

cursor:pointer;


}





#confirmCancel{


background:#ff3b30;

color:white;


}




#closeCancel{


background:#F2C230;

color:#111;


}







/*==================================
      PHONE NOTIFICATION
==================================*/


.mobile-toast{


position:fixed;


top:20px;


left:50%;


transform:

translateX(-50%)

translateY(-150px);



min-width:260px;


max-width:90%;



padding:15px 25px;



border-radius:40px;



background:

rgba(27,46,55,.95);



border:

1px solid rgba(242,194,48,.35);



box-shadow:

0 15px 40px rgba(0,0,0,.45);



color:white;


text-align:center;



z-index:10000;



transition:.45s ease;



backdrop-filter:blur(15px);


}




.mobile-toast.show{


transform:

translateX(-50%)

translateY(0);


}



.mobile-toast strong{


color:#F2C230;

font-size:16px;


}



.mobile-toast span{


font-size:14px;


}






/* REMOVE BLUE DEFAULT */

button,
a{

-webkit-tap-highlight-color:transparent;

}



button:focus,
a:focus{

outline:none;

}